.container{
    width: 1000px;
    height: 500px;
    border: 5px solid gray;
    display: flex;
    column-gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border: 2px solid green;
    margin: 5px;
}