body{
    background-color: rgb(101, 63, 63);
}
.container{
    width: 90%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border: 1px solid rgb(227, 225, 225);
    margin: 5px;
    margin-left: 15px;
    gap: 35px;
    background-color: white;
    border-radius: 7px;
}
.spans{
    display: flex;
    gap: 15px;
}
.price{
    font-weight: bold;
    font-size: larger;
}

.rooms{
    font-size: 18px;
}